<html>
  <head>
    <title>About</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body>
    <div class="main-content">
    {{>header}}
    </div>
    <p>This app is made by me Omar Metmwah using mapbox api and weatherstack api</p>
    {{>footer}}
  </body>
</html>