<html>
  <head>
    <title>Weather</title>
    <link rel="stylesheet" href="./css/style.css" />
  </head>
  <body>
    <div class="main-content">
          {{>header}}
          <p>Use this site to get your weather!</p>
          <form>
            <input type="text"  id="addressInput" placeholder="Address">
            <button id="searchButton">Search</button>
          </form>
          <p id="result"></p>
    </div>
    
    {{>footer}}
    <script src="./js/app.js"></script>
  </body>
</html>